body{
    background-color: #f3f6f8!important;
}
.side-scroll {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    max-width: 240px;
    z-index: 10;
    background-color: white;
    overflow: hidden;
}
.side-menu {
    min-width: 258px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*用户头像区域*/
.user-img {
    max-width: 65px;
}

.user-info a {
    color: #313a46;
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: none;
}

/*side-menu*/
#side-menu {
    padding-left: 2rem;
    list-style: none;
}

#side-menu > li > a {
    color: rgba(49, 58, 70, 0.8);
}

#side-menu > li > a:hover {
    color: #02c0ce;
    text-decoration: none;
}

#side-menu > li.active a {
    color: #02c0ce;
}

#side-menu > li.active a:hover {
    text-decoration: none;
}

#side-menu li ul a {
    color: rgba(49, 58, 70, 0.7);

}

#side-menu li ul a:hover {
    color: #313a46;

}
/*content-page*/
.content-page{
    margin-left: 258px;

}
.topbar-right-ul >li{
    padding: 0 .85rem;
}
.topbar-right-ul >li a{
    color: rgba(49, 58, 70, 0.8);
}
.topbar-right-ul >li a:hover{
    text-decoration: none;
}
.topbar-right-ul >li .dropdown-toggle::after{
    content: none;
}
.topbar-right-ul >li i{
    font-size: 20px;
}
/*search*/
.app-search .form-control, .app-search .form-control:focus{
    border: 1px solid #e3eaef;
    font-size: 13px;
    height: 34px;
    color: #313a46;
    padding-left: 20px;
    padding-right: 40px;
    background: #e3eaef;
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
}
.app-search button{
    position: absolute;
    top: 4px;
    left: 166px;
    color: rgba(49, 58, 70, 0.5);
    background-color: transparent;
    border: none;
}
.app-search button:hover{
    color: #313a46;
    cursor: pointer;
}
