body{
    background-color: #f3f6f8!important;
}
.side-scroll {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    max-width: 240px;
    z-index: 8;
    background-color: white;
    overflow: hidden;
}
.side-menu {
    min-width: 258px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*用户头像区域*/
.user-img {
    max-width: 65px;
}

.user-info a {
    color: #313a46;
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: none;
}

/*side-menu*/
#side-menu {
    padding-left: 2rem;
    list-style: none;
}

#side-menu > li > a {
    color: rgba(49, 58, 70, 0.8);
}

#side-menu > li > a:hover {
    color: #02c0ce;
    text-decoration: none;
}

#side-menu > li.active>a {
    color: #02c0ce;
}

#side-menu > li.active>a:hover {
    text-decoration: none;
}

#side-menu li ul a {
    color: rgba(49, 58, 70, 0.7);

}

#side-menu li ul a:hover {
    color: #313a46;

}
/*content-page*/
.content-page{
    margin-left: 258px;

}
.topbar-right-ul >li{
    padding: 0 .85rem;
}
.topbar-right-ul >li a{
    color: rgba(49, 58, 70, 0.8);
}
.topbar-right-ul >li a:hover{
    text-decoration: none;
}
.topbar-right-ul >li .dropdown-toggle::after{
    content: none;
}
.topbar-right-ul >li i{
    font-size: 20px;
}
/*search*/
.app-search .form-control, .app-search .form-control:focus{
    border: 1px solid #e3eaef;
    font-size: 13px;
    height: 34px;
    color: #313a46;
    padding-left: 20px;
    padding-right: 40px;
    background: #e3eaef;
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
}
.app-search button{
    position: absolute;
    top: 4px;
    left: 166px;
    color: rgba(49, 58, 70, 0.5);
    background-color: transparent;
    border: none;
}
.app-search button:hover{
    color: #313a46;
    cursor: pointer;
}
/*content*/
.item{
    margin-bottom: 1rem;
}
.item a{
    color: #4f7393;
}
.item a:hover{
    text-decoration: none;

}


.check-switch {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    width: 44px;
    height: 24px;
    position: relative;
    border: 1px solid #dfdfdf;

    background-color: #fdfdfd;

    box-shadow: #dfdfdf 0 0 0 0 inset;

    border-radius: 20px;

    background-clip: content-box;
}

.check-switch:before {

    content: '';
    width: 22px;
    height: 22px;

    position: absolute;

    top: 0px;
    left: 0;

    border-radius: 20px;

    background-color: #fff;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.check-switch:checked {

    border-color: #64bd63;

    box-shadow: #64bd63 0 0 0 16px inset;

    background-color: #64bd63;
}

.check-switch:checked:before {
    left: 21px;
}

.check-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.check-switch-anim:before {
    transition: left 0.3s;
}

.check-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.check-switch-anim:checked:before {
    transition: left 0.3s;
}
.active-li a{
    color: #02c0ce!important;
}