<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.demo.mapper.RoleResourcesMapper">
  <resultMap id="BaseResultMap" type="com.springboot.demo.entity.RoleResources">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roleId" jdbcType="INTEGER" property="roleId" />
    <result column="resourcesId" jdbcType="INTEGER" property="resourcesId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_resources
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot.demo.entity.RoleResources">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role_resources (roleId, resourcesId, createTime, 
      updateTime)
    values (#{roleId,jdbcType=INTEGER}, #{resourcesId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.springboot.demo.entity.RoleResources">
    update role_resources
    set roleId = #{roleId,jdbcType=INTEGER},
      resourcesId = #{resourcesId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, roleId, resourcesId, createTime, updateTime
    from role_resources
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, roleId, resourcesId, createTime, updateTime
    from role_resources
  </select>
</mapper>